{% extends "dy0.html" %}
{% block body %}

<script src="https://cdnjs.cloudfare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<body onload="update_values();">
<h1>Dynamic Update</h1>
<p>
	<span id="result">?</span>
<script>
document.getElementById("result").innerHTML;
</script>

	<button onclick="stopTextColo();">Stop</button>
	<div>
		<canvas id="myChart" width=".02em" height=".02em"></canvas>
		<canvas id="myChart2" width=".02em" height=".02em"></canvas>
	</div>

	<script type="text/javascript">
		var intervalID = setInterval(update_values, 1000);
		var c=0;
		var temp;
		function update_values() {
			$.getJSON($SCRIPT_ROOT + '/_stuff',
			function(data) {
				$('#result').text(data.result);
				temp = data.result;
				console.log(data)
			});

			c = c + 1;
			console.log(c);
			console.log(temp);
			myChart.data.labels.push(c);
			myChart.data.datasets.forEach((dataset) => {
				dataset.data.push(temp);
			});
			myChart.update();
		};

		var ctx = document.getElementById('myChart');
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: [c],
				dataset: [{
					label: '# of people visiting market',
					data: [temp],
					backgroundColor: [
						'rgba(102, 255, 153, 1);',
					],
					borderColor: [
						'rgba(255, 0, 0, 1)',
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				}
			}
		});


	</script>

{% endblock %}